/*----- Google Fonts: Noto Sans 400 & 900 italic -----*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,600;0,900;1,900&display=swap");

/*----- Common -----*/
* {
  font-family: "Noto Sans", sans-serif;
  color: #0d0d0d;
  font-weight: 600;
  text-shadow: 1px 1px 1px #595959;
  box-sizing: border-box;
}

.title {
  font-weight: 900;
  font-size: 3.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #7bbf15;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0d0d0d;
  color: #7bbf15;
}

.btn:active {
  transform: translateY(2px);
}

.flex {
  display: flex;
}

/*----- Setting Background Image -----*/

.wrapper::after {
  width: 100%;
  height: 100%;
  content: "";
  background: url("https://images.unsplash.com/photo-1464701116432-f476204d6c45?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80");
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.6;
}

/*----- Title -----*/
.title {
  margin: 60px 0 10px;
}

/*----- Game Start Button -----*/
.game-start-btn {
  font-size: 3rem;
  width: 300px;
  height: 100px;
  margin-top: 200px;
  box-shadow: 5px 5px 10px #0d0d0d;
}

/*----- How to Play Button -----*/
.how-to-play-btn {
  position: absolute;
  top: 55px;
  right: 100px;
  font-size: 3rem;
  background-color: transparent;
  border: none;
}

.how-to-play-btn:hover > p {
  display: none;
}

.how-to-play-btn:hover::after {
  content: "How to Play";
  position: absolute;
  font-size: 1.2rem;
  top: 20px;
  right: -40px;
  color: #595959;
  width: 150px;
}

.how-to-play-btn:active {
  transform: translateY(2px);
}

/*----- Tutorial Section -----*/

.tutorial-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tutorial-input {
  border: 3px solid #072bf2;
}

.tutorial-input-container {
  display: flex;
  align-items: center;
}

.input-desc:first-child {
  margin-right: 28px;
}

.input-desc:last-child {
  margin-left: 28px;
}

.input-desc {
  border: 3px solid #072bf2;
}

.input-desc-line {
  height: 64px;
  background-color: #072bf2;
}

.tutorial-board-wrapper {
  margin-top: 20px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-desc-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
}

.tutorial-score-board-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #7bbf15;
  border-radius: 10px;
  width: 400px;
  height: 300px;
  border: 3px solid #0d0d0d;
}

.desc-text {
  font-size: 1.3rem;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
}

.desc-line {
  width: 4px;
  transform: rotate(90deg);
}

.strike-desc {
  margin-left: 25px;
  border: 3px solid #f2b705;
}

.strike-desc-line {
  margin: 0 25px;
  background-color: #f2b705;
}

.ball-desc {
  margin-left: 10px;
  border: 3px solid #147346;
}

.ball-desc-line {
  margin: 0 25px;
  background-color: #147346;
}

.out-desc {
  border: 3px solid #f20505;
}

.out-desc-line {
  margin: 0 25px;
  background-color: #f20505;
}

.score-board-desc-container {
  display: flex;
  justify-content: center;
}

.score-desc-line {
  margin: 0 25px;
  background-color: #0d0d0d;
}

.score-desc {
  border: 3px solid #0d0d0d;
}

.tutorial-innings-wrapper {
  margin-left: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inning-desc-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inning-desc-line {
  margin: 0 28px;
  height: 64px;
  background-color: #0d0d0d;
}

.inning-desc {
  border: 3px solid #0d0d0d;
}

/*----- Game Wrapper -----*/
.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

/*----- Number Input Boxes -----*/
.number-input-container {
  padding-left: 10px;
}

input {
  width: 75px;
  height: 100px;
  border: none;
  border-radius: 5px;
  margin: 10px 30px;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 2rem;
  box-shadow: 2px 2px 7px #595959;
}

/*----- Score Board -----*/
.board-wrapper {
  margin-top: 20px;
  width: 400px;
  height: 300px;
}

.score-text {
  color: #f2f2f2;
  font-weight: 900;
  font-size: 2.5rem;
}

.score-board-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #7bbf15;
  border-radius: 10px;
  width: 100%;
  height: 300px;
  border: 3px solid #0d0d0d;
}

.board {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
}

.circle {
  background-color: #f2f2f2;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px #595959;
}

.innings-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.innings-container {
  margin-top: 20px;
  background: #0d0d0d;
  width: 400px;
  padding: 10px;
  border-radius: 5px;
}

.inning-table {
  width: 380px;
  text-align: center;
}

.inning-title,
.inning-score {
  height: 30px;
}

.inning-text {
  width: 90px;
}

th,
td {
  text-shadow: none;
  vertical-align: middle;
  font-size: 1.3rem;
  border: 1px solid #f2f2f2;
  border-collapse: collapse;
}

th {
  font-weight: 400;
  color: #a6a6a6;
}

td {
  color: #f2f2f2;
  font-weight: 900;
}

/*----- Result Section -----*/
.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.result-text {
  font-size: 6rem;
  color: #bf0404;
  font-style: italic;
  font-weight: 900;
}

.retry-btn {
  font-size: 2rem;
  width: 200px;
  height: 75px;
  margin: 20px;
}

.hide {
  display: none;
}
